
* {
  font-family: Arial, Helvetica, sans-serif
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

.header-top {
  display:flex;
  flex-direction: row;
  font-size: 24px;
  color: #f9faf8;
  justify-content: space-around;

}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
  align-items: flex-start;
  margin-left:auto
  
}
.header-link-1,
.header-link-2,
.header-link-3, {
  

}

.header-content{
    display:flex;
    font: 48px bold;
    color: #f9faf8
}

.header-content-subtext {
  font-size: 18px;
  color: #e5e5e5;

}

.img {
  align-self: auto;
}