* {
  font-family:'Courier New', Courier, monospace;
}

.header{
    background-color: #F2937;
    display: flex
}

.header-top{
    display:flex;

}

.header-content{
    font: 48px bold;
    color: #f9faf8
}