
div {
  font-family: Arial, Helvetica, sans-serif
}

.header div {
  background-color: #1f2937;
  display: flex;
}

.header-top div {
  flex: auto;
  flex-direction: row;
  font-size: 24px;
  color: #f9faf8;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
  flex: 1;
  margin:auto;
  margin-left:auto
  
}
.header-link-1,
.header-link-2,
.header-link-3, div
{
  flex:auto;
  flex-direction: row;
}

.header-content{
    display:flex;
    font: 48px bold;
    color: #f9faf8
}

.header-content-subtext {
  font-size: 18px;
  color: #e5e5e5;

}

.img {
  size: auto;

}